
.navbar {
    background-color: #064c2b;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

iframe {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#scores {
    height: 50%;
}

.number {
    color: white;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}