
.navbar {
    background-color: #064c2b;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

iframe {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.scores_1 {
    
    background: url(imgs/bowlingscores\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height: 200px;
    width: 500px;
}

.number {
    color: white;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.foot {
    min-height: 100vh 
}
.scores_2 {
    background: url(imgs/bowiling\ scores\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height: 200px;
    width: 500px;
}
.scores_3 {
    background: url(imgs/bowling\ scores\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height: 200px;
    width: 700px;
}
